/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img { max-width: 100%;}

/* COMMON */

body { font-family:  Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;}

li { list-style: none;}



a {color: white;
    text-decoration: none;}

h2, h3 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

h3, h4 {color: blue;}

p { line-height: 2rem;
    }

span {padding: .4rem;}    

option { 
        background-color: rgb(37 94 233);
        font-size: 1rem;
    }
        

/* HEADER */
header { 
    background-color:  rgb(37 94 233);
    height: 100px;
    padding-top: 1.5rem;
}

/* NAVIGATION AND MENU-NAV */
.navigation {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 50px;
    width: 70%;
    margin: 0 auto;
}

.menu-nav { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    gap: 3rem;
    width: 70%;
    font-size: 1.5rem;
}

.login {
    background-color: rgb(243, 241, 241);
    border-radius: 20px ;
    font-size: 18px;
    padding: 0.5rem;
    box-shadow: 1px 1px;
}


/* HERO */
.hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.hero-content {
    background-color: rgba(37, 93, 233, 0);
    color: white;
    text-align: center;
    min-height: 250px;
    width: 50%;
}

.main-text {
    font-size: 2rem;
    padding: 2rem 0;
}

.text-content {
    line-height: 2rem;
    font-size: 1.5rem;
    padding: 2rem 0 3rem;
}

.download {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.download-mac, .download-mac-footer, .open-discord, .register {
    min-width: 100px;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 1rem;
    box-shadow: 1px 1px;
}

.download-mac{
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
}

.open-discord{
    background-color: rgba(0, 0, 0, 0.872);
    color: white;
}


/* SECTIONS AND FIRST SECTION */

/* COMMON STYLE */

.section, .section2, .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: 5rem 0;
}

/* LEFT AND RIGHT */
.left-content, .right-content {
    min-height: 300px;
}

.left-content  {
    text-align: start;
    width: 45%;
}

.right-content {
    width: 25%; 
    font-size: 1.2rem;
}
/* SECOND-SECTION  */

.section2 {
    background-color: rgba(230, 230, 230, 0.445);
}

.left-content2, .right-content2 {
    min-height: 300px;
}

.left-content2  {
    width: 25%; 
    font-size: 1.2rem;
}

.right-content2 {
    text-align: end;
    width: 45%;
}



/* THIRD-SECTION */

.left-content3, .right-content3 {
    min-height: 300px;
}

.left-content3  {
    text-align: start;
    width: 45%;
}

.right-content3 {
    width: 25%; 
    font-size: 1.2rem;
}

/* SECTION FOURTH BIG-SQUARE */

.big {
    background-color: rgba(230, 230, 230, 0.445);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    padding: 4rem 0;
}

.big-square {
    text-align: center;
    min-height: 300px;
    width: 80%;
    
}

.end-text {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    padding: 2rem 0 3rem;
}

.download-mac-footer{
    background-color: rgb(37 94 233);
    color: white;

}

.last-content {
    width: 40%;
    background-image: url(../img/stars.svg);
    background-repeat: repeat-x;
    background-size: contain;

}

/* FOOTER */

/* CONTAINER */

.container {
    background-color: rgba(41, 41, 41, 0.92);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
   
    
}

.raw {
    display: flex;
    width: 70%;
    border-bottom: 1px solid rgb(37 94 233);
}

.col {
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 2.5em;
    min-height: 100px;
    padding: 4rem 0;
    width: calc(100% / 4);
}
   
.col-one {
    min-height: 500px;
    padding-top: 4rem;
    width: 40%;
}

.social {
    margin: 1.2rem 0;
    font-size: 2rem;
}
.choise {
    background-color: rgba(41, 41, 41, 0);
    color: white;
    border-style: none;
    font-size: 1.3rem;
}


/* FOOTER-NAVIGATION */

.footer-container {
    background-color: rgba(41, 41, 41, 0.92);
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    min-height: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}


.register {
    background-color: rgb(37 94 233);
}




